
:root{
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

.card-qrcode{
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  max-width: 280px;
  text-align: center;
  margin-bottom: 2rem;
}

.card-qrcode img{
  border-radius: 1rem;
  width: 100%;
}

.info{
  padding: 1.5rem 1rem;
}

.info h1{
  color: var(--dark-blue);
  padding-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 800;
}
.info p{
  color: var(--grayish-blue);
}

@media screen and (max-width: 375px) {
  .card-qrcode{
    width: 375px;
  }
}